mixin golden-ratio()
  section.golden-ratio
    .container
      .golden-ratio__wrapper
        h2.golden-ratio__title.title
          span.overflow
            span.title__text.title__text--decor.title__text--gradient.fib(data-simple-animate) Золотое
          span.overflow
            span.title__text.title__text--gradient.fib(data-simple-animate) сечение
          span.overflow
            span.title__text.fib(data-simple-animate) Санкт-Петербурга
        .golden-ratio__img-slider.animate-img-slider
          .golden-ratio__img-slider-wrapper.swiper-wrapper
            .golden-ratio__img-slide.swiper-slide
              .golden-ratio__slide-img
                +img("content", "golden-ratio/golden-ratio-img-1", "jpg", 1000, 1500, "Интерьер")
            .golden-ratio__img-slide.swiper-slide
              .golden-ratio__slide-img
                +img("content", "golden-ratio/golden-ratio-img-2", "jpg", 1000, 667, "Интерьер")
            .golden-ratio__img-slide.swiper-slide
              .golden-ratio__slide-img
                +img("content", "golden-ratio/golden-ratio-img-3", "jpg", 1000, 1500, "Интерьер")
            .golden-ratio__img-slide.swiper-slide
              .golden-ratio__slide-img
                +img("content", "golden-ratio/golden-ratio-img-4", "jpg", 1000, 859, "Интерьер")
            .golden-ratio__img-slide.swiper-slide
              .golden-ratio__slide-img
                +img("content", "golden-ratio/golden-ratio-img-5", "jpg", 1000, 750, "Интерьер")
            .golden-ratio__img-slide.swiper-slide
              .golden-ratio__slide-img
                +img("content", "golden-ratio/golden-ratio-img-1", "jpg", 1000, 1500, "Интерьер")
            .golden-ratio__img-slide.swiper-slide
              .golden-ratio__slide-img
                +img("content", "golden-ratio/golden-ratio-img-2", "jpg", 1000, 667, "Интерьер")
            .golden-ratio__img-slide.swiper-slide
              .golden-ratio__slide-img
                +img("content", "golden-ratio/golden-ratio-img-3", "jpg", 1000, 1500, "Интерьер")
            .golden-ratio__img-slide.golden-ratio__img-slide--empty.swiper-slide
              .golden-ratio__slide-img
          .golden-ratio__img-slider-controls
            button.golden-ratio__slider-button.slider-button.slider-button--prev(type="button", aria-label="Предидущий слайд")
            button.golden-ratio__img-slider-button.slider-button.slider-button--next(type="button", aria-label="Следующий слайд")
        .golden-ratio__text-slider.animate-text-slider.swiper
          .golden-ratio__text-slider-wrapper.swiper-wrapper
            .golden-ratio__text-slide.swiper-slide
              p.golden-ratio__slide-text ЛОКАЦИЯ ЗОЛОТОГО ТРЕУГОЛЬНИКА. В&nbsp;пешей доступности&nbsp;&mdash; Эрмитаж, Спас на&nbsp;Крови, Михайловский замок и&nbsp;Русский музей. 1
            .golden-ratio__text-slide.swiper-slide
              p.golden-ratio__slide-text ЛОКАЦИЯ ЗОЛОТОГО ТРЕУГОЛЬНИКА. В&nbsp;пешей доступности&nbsp;&mdash; Эрмитаж, Спас на&nbsp;Крови, Михайловский замок и&nbsp;Русский музей. 2
            .golden-ratio__text-slide.swiper-slide
              p.golden-ratio__slide-text ЛОКАЦИЯ ЗОЛОТОГО ТРЕУГОЛЬНИКА. В&nbsp;пешей доступности&nbsp;&mdash; Эрмитаж, Спас на&nbsp;Крови, Михайловский замок и&nbsp;Русский музей. 3
            .golden-ratio__text-slide.swiper-slide
              p.golden-ratio__slide-text ЛОКАЦИЯ ЗОЛОТОГО ТРЕУГОЛЬНИКА. В&nbsp;пешей доступности&nbsp;&mdash; Эрмитаж, Спас на&nbsp;Крови, Михайловский замок и&nbsp;Русский музей. 4
            .golden-ratio__text-slide.swiper-slide
              p.golden-ratio__slide-text ЛОКАЦИЯ ЗОЛОТОГО ТРЕУГОЛЬНИКА. В&nbsp;пешей доступности&nbsp;&mdash; Эрмитаж, Спас на&nbsp;Крови, Михайловский замок и&nbsp;Русский музей. 5
            .golden-ratio__text-slide.swiper-slide
              p.golden-ratio__slide-text ЛОКАЦИЯ ЗОЛОТОГО ТРЕУГОЛЬНИКА. В&nbsp;пешей доступности&nbsp;&mdash; Эрмитаж, Спас на&nbsp;Крови, Михайловский замок и&nbsp;Русский музей. 6
            .golden-ratio__text-slide.swiper-slide
              p.golden-ratio__slide-text ЛОКАЦИЯ ЗОЛОТОГО ТРЕУГОЛЬНИКА. В&nbsp;пешей доступности&nbsp;&mdash; Эрмитаж, Спас на&nbsp;Крови, Михайловский замок и&nbsp;Русский музей. 7
            .golden-ratio__text-slide.swiper-slide
              p.golden-ratio__slide-text ЛОКАЦИЯ ЗОЛОТОГО ТРЕУГОЛЬНИКА. В&nbsp;пешей доступности&nbsp;&mdash; Эрмитаж, Спас на&nbsp;Крови, Михайловский замок и&nbsp;Русский музей. 8
            .golden-ratio__text-slide.golden-ratio__text-slide--empty
