mixin interiors()
  section.interiors
    .container
      .interiors__wrapper
        h2.interiors__title.title
          span.overflow
            span.title__text.fib(data-simple-animate)
              span Интерьеры
              span ОТ
          span.overflow
            span.title__text.title__text--gradient.title__text--decor.fib(data-simple-animate)
              span Ralph
              span Lauren
        .interiors__img-slider.swiper
          .interiors__img-slider-wrapper.swiper-wrapper
            .interiors__img-slide.swiper-slide
              .interiors__slide-img
                +img("content", "interiors/interiors-slide-1", "jpg", 1440, 670, "Интерьер")
            .interiors__img-slide.swiper-slide
              .interiors__slide-img
                +img("content", "interiors/interiors-slide-1", "jpg", 1440, 670, "Интерьер")
            .interiors__img-slide.swiper-slide
              .interiors__slide-img
                +img("content", "interiors/interiors-slide-1", "jpg", 1440, 670, "Интерьер")
            .interiors__img-slide.swiper-slide
              .interiors__slide-img
                +img("content", "interiors/interiors-slide-1", "jpg", 1440, 670, "Интерьер")
            .interiors__img-slide.swiper-slide
              .interiors__slide-img
                +img("content", "interiors/interiors-slide-1", "jpg", 1440, 670, "Интерьер")
            .interiors__img-slide.swiper-slide
              .interiors__slide-img
                +img("content", "interiors/interiors-slide-1", "jpg", 1440, 670, "Интерьер")
            .interiors__img-slide.swiper-slide
              .interiors__slide-img
                +img("content", "interiors/interiors-slide-1", "jpg", 1440, 670, "Интерьер")
            .interiors__img-slide.swiper-slide
              .interiors__slide-img
                +img("content", "interiors/interiors-slide-1", "jpg", 1440, 670, "Интерьер")
          .interiors__img-slider-controls
            button.interiors__slider-button.slider-button.slider-button--prev(type="button", aria-label="Предидущий слайд")
            .interiors__slider-pagination.swiper-pagination
            button.interiors__img-slider-button.slider-button.slider-button--next(type="button", aria-label="Следующий слайд")
        .interiors__text-slider.swiper
          .interiors__text-slider-wrapper.swiper-wrapper
            .interiors__text-slide.swiper-slide
              p.interiors__slide-text Настоящие дровяные камины, Восстановленные исторические интерьеры парадной гостиной 1
            .interiors__text-slide.swiper-slide
              p.interiors__slide-text Настоящие дровяные камины, Восстановленные исторические интерьеры парадной гостиной 2
            .interiors__text-slide.swiper-slide
              p.interiors__slide-text Настоящие дровяные камины, Восстановленные исторические интерьеры парадной гостиной 3
            .interiors__text-slide.swiper-slide
              p.interiors__slide-text Настоящие дровяные камины, Восстановленные исторические интерьеры парадной гостиной 4
            .interiors__text-slide.swiper-slide
              p.interiors__slide-text Настоящие дровяные камины, Восстановленные исторические интерьеры парадной гостиной 5
            .interiors__text-slide.swiper-slide
              p.interiors__slide-text Настоящие дровяные камины, Восстановленные исторические интерьеры парадной гостиной 6
            .interiors__text-slide.swiper-slide
              p.interiors__slide-text Настоящие дровяные камины, Восстановленные исторические интерьеры парадной гостиной 7
            .interiors__text-slide.swiper-slide
              p.interiors__slide-text Настоящие дровяные камины, Восстановленные исторические интерьеры парадной гостиной 8
