@font-face {
  font-style: normal;
  font-weight: 300;
  font-family: "Copperplate";

  font-display: swap;
  src:
    url("../fonts/copperplate-light.woff2") format("woff2"),
    url("../fonts/copperplate-light.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "FuturaPT";

  font-display: swap;
  src:
    url("../fonts/FuturaBookC.woff2") format("woff2"),
    url("../fonts/FuturaBookC.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 500;
  font-family: "FuturaPT";

  font-display: swap;
  src:
    url("../fonts/FuturaPT-Medium.woff2") format("woff2"),
    url("../fonts/FuturaPT-Medium.woff") format("woff");
}


@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "FuturaPT";

  font-display: swap;
  src:
    url("../fonts/FuturaPT-Book.woff2") format("woff2"),
    url("../fonts/FuturaPT-Book.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 300;
  font-family: "FuturaPT";

  font-display: swap;
  src:
    url("../fonts/FuturaPT-Light.woff2") format("woff2"),
    url("../fonts/FuturaPT-Light.woff") format("woff");
}
