mixin footer(footerMods)
  footer.footer(class=footerMods)
    .container
      .footer__wrapper
        a.footer__documentation-link(href="https://наш.дом.рф/сервисы/каталог-новостроек/объект/43007?id=43007&objectIds=37465%2C38748%2C36001", target="_blank", rel="nofollow noopener noreferrer") Проектная документациЯ
        .footer__content
          a.footer__info-link(href="https://storage.yandexcloud.net/dev-media/Onest.pdf", aria-label="Рекламное агентство «Восход»", target="_blank", rel="nofollow noopener noreferrer") ЭТА ВЕБ-СТРАНИЦА НОСИТ ИСКЛЮЧИТЕЛЬНО ИНФОРМАЦИОННЫЙ ХАРАКТЕР И&nbsp;НЕ&nbsp;ЯВЛЯЕТСЯ ПУБЛИЧНОЙ ОФЕРТОЙ, ОПРЕДЕЛЯЕМОЙ ПОЛОЖЕНИЯМИ СТАТЬИ 437&nbsp;ГК РФ
          a.footer__logo-link(href="https://voshodmoscow.ru/", aria-label="Рекламное агентство «Восход»", target="_blank", rel="nofollow noopener noreferrer")
            +icon("icon-logo-voshod", 119, 21)
          p.footer__developed
            | Сделано в
            =" "
            a.footer__developed-link(href="https://deluxe-interactive.com/", target="_blank", rel="nofollow noopener noreferrer") Deluxe Interactive
