mixin modal-form()
  .modal-form
    .container
      .modal-form__wrapper
        .modal-form__logo
          svg(width='160', height='22', viewBox='0 0 160 22', fill='none', xmlns='http://www.w3.org/2000/svg')
            path(d='M139.652 0.831868V1.66374C140.457 1.66374 140.86 1.89598 140.86 2.35626V19.6566C140.86 20.1168 140.457 20.3491 139.652 20.3491V21.181H157.863C158.232 21.181 158.541 21.1936 158.792 21.2274C159.042 21.257 159.165 21.3963 159.165 21.6412H160V16.7852H159.165C159.165 17.0934 159.042 17.3341 158.792 17.503C158.541 17.6719 158.232 17.7564 157.863 17.7564H145.321V2.35203C145.321 1.88753 145.677 1.65951 146.389 1.65951V0.827642H139.652V0.831868ZM109.543 21.1852H115.767V20.3533C115.487 20.3533 115.271 20.3238 115.119 20.2604C114.962 20.2013 114.885 20.0451 114.885 19.8001C114.885 19.6481 114.924 19.4708 115 19.2681C115.076 19.0696 115.178 18.8458 115.301 18.5967L116.603 16.0969H126.541L127.796 18.736C127.89 18.9852 127.966 19.1836 128.03 19.3356C128.093 19.4919 128.123 19.6608 128.123 19.8466C128.123 20.0957 128.038 20.2604 127.869 20.3533C127.699 20.4462 127.534 20.4927 127.381 20.4927V21.1852H133.979V20.3533C133.762 20.29 133.559 20.2013 133.372 20.0746C133.186 19.9522 133.016 19.7495 132.863 19.475L125.337 3.74551C125.18 3.4077 125.036 3.10367 124.896 2.84186C124.756 2.58006 124.688 2.35626 124.688 2.17046C124.688 1.9551 124.744 1.83264 124.85 1.79886C124.956 1.7693 125.057 1.72285 125.151 1.65951V0.827642H118.138V1.65951C118.231 1.72285 118.316 1.77352 118.392 1.81997C118.468 1.86642 118.506 1.98043 118.506 2.16623C118.506 2.41537 118.451 2.66873 118.345 2.93054C118.235 3.19235 118.091 3.5386 117.904 3.96932L110.984 19.0063C110.862 19.2554 110.683 19.5214 110.45 19.817C110.217 20.1126 109.916 20.2858 109.543 20.3491V21.1852ZM117.998 12.6723L121.296 4.8983L125.057 12.6723H117.998ZM109.441 0.831868H103.357V1.66374C103.789 1.66374 104.022 1.84953 104.052 2.21691C104.082 2.43226 104.005 2.72363 103.819 3.09523C103.632 3.46682 103.369 4.01999 103.03 4.76318L97.9674 15.9575L92.6249 4.43803C92.4086 3.97354 92.2136 3.55127 92.044 3.16701C91.8744 2.78275 91.7896 2.48294 91.7896 2.26336C91.7896 1.8622 91.9761 1.66374 92.345 1.66374V0.831868H85.7941V1.66374C85.9807 1.66374 86.1715 1.73974 86.375 1.89598C86.5743 2.05222 86.7396 2.26758 86.8626 2.54628L93.9223 17.6719C94.2022 18.2589 94.4396 18.7191 94.6432 19.0612C94.8424 19.4032 94.9442 19.6481 94.9442 19.8001C94.9442 19.9564 94.8764 20.0704 94.7365 20.1464C94.5965 20.2224 94.4481 20.2942 94.2955 20.3533V21.1852H101.309V20.3533C100.749 20.2604 100.473 20.1211 100.473 19.9353C100.473 19.7833 100.558 19.5637 100.728 19.2892C100.897 19.0105 101.152 18.4742 101.495 17.6677L108.279 2.72363C108.619 2.01422 109.004 1.65951 109.441 1.65951V0.831868ZM79.2135 5.13477V0H78.3782C78.3782 0.557394 77.899 0.831868 76.9365 0.831868H60.4468V1.66374C60.5994 1.66374 60.7563 1.71863 60.9132 1.82419C61.0659 1.93398 61.1464 2.11134 61.1464 2.35626V19.6566C61.1464 19.9057 61.0701 20.0788 60.9132 20.1886C60.7563 20.2984 60.6037 20.3491 60.4468 20.3491V21.181H77.4962C77.8693 21.181 78.1789 21.1936 78.4248 21.2274C78.6707 21.257 78.7979 21.4132 78.7979 21.6877H79.6332V16.8316H78.7979C78.7979 17.1103 78.675 17.3341 78.4248 17.503C78.1746 17.6719 77.8651 17.7564 77.4962 17.7564H65.6028V12.2964H72.3827C73.0017 12.2964 73.4808 12.3344 73.8243 12.4105C74.1635 12.4865 74.2865 12.6976 74.1974 13.0354H75.126V8.13288H74.2907C74.2907 8.47069 74.1677 8.68183 73.9218 8.75783C73.6717 8.83384 73.2858 8.87185 72.76 8.87185H65.607V4.24801H76.9408C77.899 4.24801 78.3824 4.5436 78.3824 5.12633H79.2135V5.13477ZM35.6889 12.6723H48.1378V19.6566C48.1378 19.9057 48.07 20.0788 47.93 20.1886C47.7901 20.2984 47.629 20.3491 47.4424 20.3491V21.181H53.298V20.3491C53.1114 20.3491 52.9503 20.2942 52.8104 20.1886C52.6705 20.0831 52.6026 19.9057 52.6026 19.6566V2.35626C52.6026 2.10712 52.6705 1.93398 52.8104 1.82419C52.9503 1.71863 53.1114 1.66374 53.298 1.66374V0.831868H47.4424V1.66374C47.629 1.66374 47.7901 1.71863 47.93 1.82419C48.07 1.93398 48.1378 2.11134 48.1378 2.35626V8.88029H35.6889V2.35626C35.6889 2.10712 35.7567 1.93398 35.8966 1.82419C36.0366 1.71863 36.1977 1.66374 36.3843 1.66374V0.831868H30.5287V1.66374C30.7153 1.66374 30.8764 1.71863 31.0163 1.82419C31.1562 1.93398 31.2241 2.11134 31.2241 2.35626V19.6566C31.2241 19.9057 31.1562 20.0788 31.0163 20.1886C30.8764 20.2984 30.7153 20.3491 30.5287 20.3491V21.181H36.3843V20.3491C36.1977 20.3491 36.0366 20.2942 35.8966 20.1886C35.7567 20.0831 35.6889 19.9057 35.6889 19.6566V12.6723ZM19.1483 6.88296L22.2435 2.44493L21.6796 2.11978C21.5524 2.18312 21.4379 2.25913 21.3277 2.35203C21.2174 2.44493 21.086 2.49138 20.9291 2.49138C20.7086 2.49138 20.3482 2.38159 19.8479 2.16201C19.3476 1.94665 18.72 1.69329 17.9695 1.41459C17.219 1.1359 16.3498 0.882541 15.3661 0.667184C14.3824 0.447605 13.2927 0.342036 12.1055 0.342036C10.5706 0.342036 9.07805 0.561617 7.62369 0.996553C6.16934 1.43149 4.88035 2.09445 3.75248 2.98121C2.62462 3.86797 1.71724 4.96587 1.03034 6.2749C0.343448 7.58393 0 9.10832 0 10.8523C0 12.5963 0.343448 14.1291 1.03034 15.455C1.71724 16.7809 2.6119 17.883 3.70584 18.774C4.79979 19.6608 6.05062 20.3069 7.45833 20.7122C8.86604 21.1176 10.2907 21.3203 11.7281 21.3203C13.1358 21.3203 14.4078 21.1936 15.5527 20.9445C16.6933 20.6953 17.6939 20.3913 18.5547 20.0324C19.4154 19.6735 20.1277 19.3568 20.6874 19.0738C21.2514 18.7951 21.6584 18.6516 21.9086 18.6516C22.0655 18.6516 22.3326 18.7318 22.7057 18.8838L23.1764 18.6516L19.7037 13.6984L19.1864 14.1671C19.2161 14.2938 19.2331 14.4458 19.2331 14.6358V15.0116C19.2331 15.2903 19.0041 15.6028 18.5547 15.9448C18.101 16.2869 17.5158 16.6078 16.795 16.9034C16.0742 17.199 15.2771 17.4566 14.4036 17.6761C13.5301 17.8957 12.6694 18.0013 11.8256 18.0013C10.9182 18.0013 10.0278 17.8366 9.15013 17.5115C8.27243 17.1863 7.49225 16.7007 6.80535 16.0631C6.11846 15.4254 5.56301 14.6611 5.139 13.7744C4.71499 12.8876 4.50722 11.8826 4.50722 10.7594C4.50722 9.63615 4.69379 8.64382 5.07115 7.76973C5.44852 6.89986 5.97853 6.16511 6.66543 5.57394C7.35233 4.98276 8.15794 4.53938 9.08228 4.23957C10.0024 3.94398 11.0285 3.79619 12.1564 3.79619C13.0934 3.79619 13.9542 3.88064 14.7386 4.05377C15.5188 4.2269 16.2014 4.43381 16.7781 4.68295C17.3589 4.93209 17.8042 5.18967 18.1137 5.45147C18.4275 5.7175 18.5843 5.92864 18.5843 6.08066C18.5843 6.17356 18.5928 6.25379 18.6098 6.3129C18.6267 6.37625 18.6352 6.43959 18.6352 6.4987L19.1483 6.88296Z', fill='url(#paint0_linear_175_611)')
            defs
              linearGradient#paint0_linear_175_611(x1='-142.585', y1='26.3873', x2='153.378', y2='-84.7784', gradientUnits='userSpaceOnUse')
                stop(stop-color='#BCB8AF')
                stop(offset='0.1683', stop-color='#848175')
                stop(offset='0.2969', stop-color='#5F5E50')
                stop(offset='0.3647', stop-color='#515042')
                stop(offset='0.3855', stop-color='#5C5B4E')
                stop(offset='0.4231', stop-color='#79786E')
                stop(offset='0.4731', stop-color='#A9A8A1')
                stop(offset='0.533', stop-color='#E9E9E7')
                stop(offset='0.5518', stop-color='white')
                stop(offset='0.5904', stop-color='#DDDCD9')
                stop(offset='0.66', stop-color='#A5A39A')
                stop(offset='0.7108', stop-color='#827F72')
                stop(offset='0.7372', stop-color='#757163')
                stop(offset='0.8898', stop-color='#98968E')
                stop(offset='1', stop-color='#B3B3AF')
          svg(width='136', height='22', viewBox='0 0 136 22', fill='none', xmlns='http://www.w3.org/2000/svg')
            path(d='M122.047 21.8606H128.039V21.0287C127.483 21.0287 127.203 20.7965 127.203 20.3362V4.93189H133.241C133.487 4.93189 133.72 4.99523 133.937 5.11769C134.153 5.24015 134.263 5.44283 134.263 5.71731H135.098V0.396729H134.263C134.263 0.827442 134.153 1.12303 133.937 1.27505C133.72 1.42706 133.487 1.5073 133.241 1.5073H116.705C116.455 1.5073 116.226 1.43129 116.01 1.27505C115.793 1.12303 115.683 0.827442 115.683 0.396729H114.848V5.71731H115.683C115.683 5.43861 115.789 5.24015 116.01 5.11769C116.226 4.99523 116.459 4.93189 116.705 4.93189H122.743V20.3362C122.743 20.5854 122.666 20.7585 122.51 20.8683C122.353 20.9781 122.2 21.0287 122.047 21.0287V21.8606ZM87.8256 1.5073V2.33916C88.3853 2.33916 88.6609 2.57141 88.6609 3.03168V20.332C88.6609 20.7923 88.3811 21.0245 87.8256 21.0245V21.8564H94.0034V21.0245C93.8169 21.0245 93.6261 20.9696 93.4226 20.8641C93.2233 20.7585 93.1215 20.5811 93.1215 20.332V13.7151H99.5792L103.251 19.175C103.713 19.8211 103.946 20.3024 103.946 20.6107C103.946 20.8894 103.743 21.0287 103.34 21.0287V21.8606H110.447V21.0287C110.107 20.9358 109.789 20.8049 109.493 20.636C109.196 20.4671 108.929 20.2138 108.678 19.8717L104.125 13.2548C104.778 13.1028 105.409 12.879 106.028 12.5834C106.647 12.292 107.211 11.9078 107.724 11.4264C108.237 10.9492 108.644 10.3834 108.954 9.7373C109.264 9.09123 109.416 8.34804 109.416 7.51617C109.416 5.32882 108.64 3.77488 107.093 2.867C105.545 1.95912 103.391 1.50308 100.635 1.50308H87.8256V1.5073ZM93.2148 10.2947V4.92767H100.554C102.132 4.92767 103.285 5.15147 104.014 5.59907C104.739 6.04668 105.104 6.65474 105.104 7.4275C105.104 9.34037 103.586 10.2947 100.55 10.2947H93.2148ZM64.5517 1.5073H57.9075V2.33916C58.4333 2.33916 58.7894 2.39406 58.976 2.49963C59.1626 2.60942 59.2559 2.78677 59.2559 3.03168V14.737C59.2559 15.6913 59.4721 16.6118 59.9046 17.4901C60.3371 18.3685 60.9943 19.1496 61.8805 19.8253C62.7624 20.5051 63.8945 21.0372 65.2726 21.4215C66.6506 21.8057 68.2703 22 70.1275 22C71.9846 22 73.6043 21.8057 74.9824 21.4215C76.3604 21.0372 77.4883 20.5051 78.3745 19.8253C79.2564 19.1496 79.9136 18.3685 80.3503 17.4901C80.7828 16.6118 80.9991 15.6955 80.9991 14.737V3.03168C80.9991 2.56719 81.3383 2.33916 82.0209 2.33916V1.5073H75.5633V2.34338C76.335 2.34338 76.7251 2.57564 76.7251 3.04013V13.6644C76.7251 15.1508 76.1823 16.3416 75.1011 17.2368C74.0156 18.132 72.3577 18.5838 70.1317 18.5838C67.9014 18.5838 66.2435 18.1362 65.1623 17.2368C64.0768 16.3416 63.5341 15.1508 63.5341 13.6644V3.04013C63.5341 2.57564 63.8733 2.34338 64.556 2.34338V1.5073H64.5517ZM36.1473 1.87467C34.6463 2.30538 33.3361 2.95568 32.221 3.8171C31.1059 4.68275 30.2239 5.76798 29.5752 7.07701C28.9222 8.39027 28.6 9.9231 28.6 11.6797C28.6 13.4364 28.9264 14.9734 29.5752 16.2825C30.2239 17.5957 31.1059 18.6809 32.221 19.5424C33.3361 20.4038 34.6463 21.0288 36.1473 21.4172C37.6483 21.8015 39.2511 21.9957 40.9556 21.9957C42.6559 21.9957 44.2629 21.8015 45.7639 21.4172C47.2649 21.033 48.5751 20.408 49.6902 19.5424C50.8053 18.6809 51.6873 17.5915 52.336 16.2825C52.9848 14.9734 53.3112 13.4364 53.3112 11.6797C53.3112 9.9231 52.9848 8.38604 52.336 7.07701C51.6873 5.76798 50.8053 4.67853 49.6902 3.8171C48.5751 2.95568 47.2649 2.30538 45.7639 1.87467C44.2629 1.44395 42.6601 1.2286 40.9556 1.2286C39.2511 1.2286 37.6483 1.44395 36.1473 1.87467ZM43.8601 5.1388C44.8056 5.46395 45.6494 5.92422 46.3914 6.52806C47.1334 7.13191 47.7313 7.86243 48.1807 8.72386C48.6302 9.58951 48.8549 10.5734 48.8549 11.684C48.8549 12.7945 48.6302 13.7826 48.1807 14.6441C47.7313 15.5097 47.1334 16.2402 46.3914 16.8399C45.6494 17.4437 44.8056 17.904 43.8601 18.2291C42.9145 18.5543 41.9478 18.7147 40.9556 18.7147C39.9634 18.7147 38.9967 18.5543 38.0511 18.2291C37.1056 17.904 36.2618 17.4437 35.5198 16.8399C34.7778 16.2402 34.1799 15.5055 33.7305 14.6441C33.281 13.7826 33.0563 12.7945 33.0563 11.684C33.0563 10.5734 33.281 9.58529 33.7305 8.72386C34.1799 7.86243 34.7778 7.12768 35.5198 6.52806C36.2618 5.92844 37.1056 5.46395 38.0511 5.1388C38.9967 4.81366 39.9634 4.65319 40.9556 4.65319C41.9478 4.65319 42.9145 4.81366 43.8601 5.1388ZM20.0477 7.5584L23.143 3.12036L22.579 2.79521C22.4518 2.85855 22.3373 2.93456 22.2271 3.02746C22.1169 3.12036 21.9854 3.16681 21.8285 3.16681C21.608 3.16681 21.2476 3.05702 20.7473 2.83744C20.247 2.62208 19.6194 2.36872 18.8689 2.09003C18.1184 1.81133 17.2492 1.55797 16.2655 1.34261C15.2818 1.12303 14.1921 1.01746 13.0049 1.01746C11.47 1.01746 9.97746 1.23704 8.52311 1.67198C7.06876 2.10692 5.77976 2.76988 4.6519 3.65664C3.52403 4.5434 2.61665 5.6413 1.92976 6.95033C1.24286 8.25936 0.899414 9.78375 0.899414 11.5277C0.899414 13.2717 1.24286 14.8045 1.92976 16.1304C2.61665 17.4564 3.51132 18.5585 4.60526 19.4495C5.6992 20.3362 6.95003 20.9823 8.35774 21.3877C9.76546 21.7931 11.1901 21.9957 12.6275 21.9957C14.0352 21.9957 15.3073 21.8691 16.4521 21.6199C17.5927 21.3708 18.5933 21.0667 19.4541 20.7078C20.3148 20.3489 21.0271 20.0322 21.5868 19.7493C22.1508 19.4706 22.5578 19.327 22.808 19.327C22.9649 19.327 23.232 19.4072 23.6051 19.5593L24.0758 19.327L20.6031 14.3738L20.0859 14.8425C20.1155 14.9692 20.1325 15.1212 20.1325 15.3112V15.6871C20.1325 15.9658 19.9035 16.2782 19.4541 16.6203C19.0004 16.9623 18.4153 17.2832 17.6944 17.5788C16.9736 17.8744 16.1765 18.132 15.303 18.3516C14.4253 18.5711 13.5688 18.6767 12.725 18.6767C11.8177 18.6767 10.9272 18.512 10.0495 18.1869C9.17608 17.8617 8.39166 17.3761 7.70477 16.7385C7.01787 16.1009 6.46242 15.3366 6.03841 14.4498C5.6144 13.5631 5.40664 12.558 5.40664 11.4348C5.40664 10.3116 5.5932 9.31926 5.97057 8.44516C6.34794 7.57529 6.87795 6.84054 7.56485 6.24936C8.25174 5.65819 9.05736 5.21481 9.9817 4.915C10.9018 4.61941 11.9279 4.47162 13.0558 4.47162C13.9928 4.47162 14.8536 4.55607 15.638 4.7292C16.4182 4.90233 17.1008 5.10924 17.6775 5.35838C18.2584 5.60752 18.7036 5.8651 19.0131 6.12691C19.3269 6.39294 19.4838 6.60407 19.4838 6.75609C19.4838 6.84899 19.4922 6.92922 19.5092 6.98833C19.5262 7.05167 19.5346 7.11501 19.5346 7.17413L20.0477 7.5584Z', fill='url(#paint0_linear_175_612)')
            defs
              linearGradient#paint0_linear_175_612(x1='-118.693', y1='26.6813', x2='138.809', y2='-54.7586', gradientUnits='userSpaceOnUse')
                stop(stop-color='#BCB8AF')
                stop(offset='0.1683', stop-color='#848175')
                stop(offset='0.2969', stop-color='#5F5E50')
                stop(offset='0.3647', stop-color='#515042')
                stop(offset='0.3855', stop-color='#5C5B4E')
                stop(offset='0.4231', stop-color='#79786E')
                stop(offset='0.4731', stop-color='#A9A8A1')
                stop(offset='0.533', stop-color='#E9E9E7')
                stop(offset='0.5518', stop-color='white')
                stop(offset='0.5904', stop-color='#DDDCD9')
                stop(offset='0.66', stop-color='#A5A39A')
                stop(offset='0.7108', stop-color='#827F72')
                stop(offset='0.7372', stop-color='#757163')
                stop(offset='0.8898', stop-color='#98968E')
                stop(offset='1', stop-color='#B3B3AF')
        h2.modal-form__title.title
          span.overflow
            span.title__text.title__text--gradient мы рады ответить
          span.overflow
            span.title__text на Ваши вопросы
        .modal-form__form(data-validate)
          form(method="post", action="#")
            .modal-form__input-block
              .modal-form__input-wrapper(data-validate-type="text")
                input(type="text", name="name", id="modal-form-name", placeholder=" ")
                label(for="modal-form-name") Ваше имя
                span.modal-form__input-error Неверно введено имя
              .modal-form__input-wrapper(data-validate-type="phone")
                input(type="tel", name="phone", id="modal-form-phone", placeholder=" ")
                label(for="modal-form-phone") Телефон
                span.modal-form__input-error Неверно введен номер
            .modal-form__call-time-block
              h3.modal-form__form-subtitle выберите Удобное время звонка
              p.modal-form__form-description Мы&nbsp;уважаем Ваше время, поэтому позвоним в&nbsp;строго обозначенном временном промежутке. Можно выбрать несколько параметров.
              fieldset.modal-form__checkbox-block
                .modal-form__checkbox-item
                  h4.modal-form__checkbox-title утро
                  .modal-form__checkboxes-wrapper
                    .modal-form__checkbox-wrapper
                      label
                        input(type="checkbox", name="time-morning", value="09:00-10:00")
                        span 09:00 -10:00
                    .modal-form__checkbox-wrapper
                      label
                        input(type="checkbox", name="time-morning", value="10:00-11:00")
                        span 10:00 -11:00
                    .modal-form__checkbox-wrapper
                      label
                        input(type="checkbox", name="time-morning", value="11:00-12:00")
                        span 11:00 -12:00
                    .modal-form__checkbox-wrapper
                      label
                        input(type="checkbox", name="time-morning", value="12:00-13:00")
                        span 12:00 -13:00
                .modal-form__checkbox-item
                  h4.modal-form__checkbox-title день
                  .modal-form__checkboxes-wrapper
                    .modal-form__checkbox-wrapper
                      label
                        input(type="checkbox", name="time-day", value="13:00-14:00")
                        span 13:00 -14:00
                    .modal-form__checkbox-wrapper
                      label
                        input(type="checkbox", name="time-day", value="14:00-15:00")
                        span 14:00 -15:00
                    .modal-form__checkbox-wrapper
                      label
                        input(type="checkbox", name="time-day", value="15:00-16:00")
                        span 15:00 -16:00
                    .modal-form__checkbox-wrapper
                      label
                        input(type="checkbox", name="time-day", value="16:00-17:00")
                        span 16:00 -17:00
                .modal-form__checkbox-item
                  h4.modal-form__checkbox-title вечер
                  .modal-form__checkboxes-wrapper
                    .modal-form__checkbox-wrapper
                      label
                        input(type="checkbox", name="time-evening", value="17:00-18:00")
                        span 17:00 -18:00
                    .modal-form__checkbox-wrapper
                      label
                        input(type="checkbox", name="time-evening", value="18:00-19:00")
                        span 18:00 -19:00
                    .modal-form__checkbox-wrapper
                      label
                        input(type="checkbox", name="time-evening", value="19:00-20:00")
                        span 19:00 -20:00
                    .modal-form__checkbox-wrapper
                      label
                        input(type="checkbox", name="time-evening", value="20:00-21:00")
                        span 20:00 -21:00
              .modal-form__checkbox-any-time
                label
                  input(type="checkbox", name="any-time", value="any-time")
                  span Удобно в любое время
              button.modal-form__submit-btn
                span отправить
              .modal-form__checkbox-agreement(data-validate-type="checkbox")
                input(type="checkbox", name="agreement", id="modal-form-agreement", value="agreement", required, checked)
                label(for="modal-form-agreement") Даю согласие на
                =" "
                a.modal-form__agreement-link(href="#") обработку персональных данных



